<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WelcomePage</key>
	<array>
		<dict>
			<key>Body</key>
			<string>We know you will like it here</string>
			<key>Image</key>
			<string>/tmp/watowl.jpg</string>
			<key>Title</key>
			<string>Welcome to my Awesome Company</string>
		</dict>
	</array>
	<key>AssistantPages</key>
	<array>
		<dict>
			<key>Body</key>
			<string>Install Firefox by doing stuff</string>
			<key>PageType</key>
			<string>info</string>
			<key>Title</key>
			<string>Install Firefox.app</string>
		</dict>
		<dict>
			<key>URL</key>
			<string>http://www.google.com/landing/2step/</string>
			<key>PageType</key>
			<string>weburl</string>
			<key>Title</key>
			<string>Setup Google 2-Factor Authentication</string>
		</dict>
		<dict>
			<key>Body</key>
			<string>
            1. Go to www.google.com/chrome
            2. Download Chrome
            3. Install Chrome
            4. Open Chrome
            5. Enjoy!
            </string>
			<key>PageType</key>
			<string>info</string>
			<key>Title</key>
			<string>Install Chrome.app</string>
		</dict>
		<dict>
			<key>Body</key>
			<string>Install Little Snitch by doing stuff</string>
			<key>PageType</key>
			<string>info</string>
			<key>Title</key>
			<string>Install Little Snitch.app</string>
		</dict>
	</array>
</dict>
</plist>
